.img {
  width: 80%;
}

.card {
  max-width: 345px;
  margin: 30px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.center {
  text-align: center;
}

.tab {
  min-width: 100%;
}

.root {
  min-width: 650px;
  overflow: hidden;
}

.imag {
  width: 10%;
}

.collection-item {
  list-style: none;
  display: flex;
}

.image {
  max-width: 50%;
}

.remove {
  padding: 2px 30px;
  text-align: center;
  margin-top: 10px;
  background: red;
  border: none;
  color: white;
}

.collections {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px 0;
}

.containers {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px 0;
}

.header {
  text-align: center;
  font-size: 25px;
}

.add {
  background: green;
  color: white;
  padding: 10px 25px;
  border: none;
  border-top-right-radius: 15px;
}

.logo {
  color: white;
  text-decoration: none;
}

.link {
  color: white;
  text-decoration: none;
}